mixin subsectionTitle(text) 
    include ../../../../toolViews/textViews/subsectionTitle.view.pug

section(class='js-edit-section profile-subsection')
    h3(class='profile-subsection-title')
        |Edit profile

    div(class='js-edit-fields-list')
