mixin subsectionTitle(text) 
    include ../../../../tools/texts/subsectionTitle.pug

section(class='js-edit-section profile-subsection')
    +subsectionTitle('Edit profile')

    div(class='js-edit-fields-list')
