@import url("../initialScreen/style.css");
@import url("../lobbyScreen/style.css");
@import url("../gameScreen/style.css");

.fullscreen {
    width: 100%;
    height: 100%;
    min-height: 100%;;
    min-width: 300px;
}

.initial-screen {
    margin-top: 50px;
}